@inject SignInManager<User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<nav aria-label="Manage account navigation">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item mb-2">
            <a class="nav-link d-flex align-items-center @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">
                <i class="bi bi-person me-2"></i> Profile
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link d-flex align-items-center @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">
                <i class="bi bi-envelope me-2"></i> Email
            </a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link d-flex align-items-center @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">
                <i class="bi bi-key me-2"></i> Password
            </a>
        </li>
        @if (hasExternalLogins)
        {
            <li class="nav-item mb-2" id="external-logins">
                <a id="external-login" class="nav-link d-flex align-items-center @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">
                    <i class="bi bi-box-arrow-in-right me-2"></i> External logins
                </a>
            </li>
        }
        <li class="nav-item mb-2">
            <a class="nav-link d-flex align-items-center @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">
                <i class="bi bi-shield-lock me-2"></i> Two-factor authentication
            </a>
        </li>
    </ul>
</nav>
